<div class="table-wrapper">
    <h2>Ofertas de Empleo</h2>

    <table class="job-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Empresa</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Fecha de publicación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of jobOffers">
                <td>{{ offer.title }}</td>
                <td>{{ offer.company }}</td>
                <td>{{ offer.category }}</td>
                <td>{{ offer.state }}</td>
                 <td>{{ offer.publishedAt | date: 'dd/MM/yyyy' }}</td>
            </tr>
        </tbody>
    </table>
</div>