<!-- TOAST ÉXITO -->
<div
  class="toast align-items-center text-white bg-success border-0 position-fixed top-0 end-0 m-4"
  *ngIf="showSuccessToast"
  role="alert"
  style="z-index: 1055; display: block; opacity: 1;" 
>
  <div class="d-flex justify-content-between align-items-center">
    <div class="toast-body">Registro completado correctamente.</div>
    <button class="btn btn-light btn-sm ms-3 me-2" (click)="goToLogin()">Iniciar sesión</button>
  </div>
</div>

<!-- TOAST ERROR -->
<div
  class="toast align-items-center text-white bg-danger border-0 position-fixed top-0 end-0 m-4"
  *ngIf="showErrorToast"
  role="alert"
  style="z-index: 1055; display: block; opacity: 1;"  
>
  <div class="d-flex justify-content-between align-items-center">
    <div class="toast-body">Ha ocurrido un error al registrar.</div>
    <button class="btn btn-light btn-sm ms-3 me-2" (click)="register()">Reintentar</button>
  </div>
</div>



<div class="container mt-5">
  <h2 class="text-center mb-4">Registro de Usuario</h2>

  <!-- Selector de tipo de usuario -->
  <div class="text-center mb-4">
    <div class="btn-group">
      <button
        class="btn btn-outline-primary"
        [class.active]="role === 'candidate'"
        (click)="setRole('candidate')"
      >
        Personal
      </button>
      <button
        class="btn btn-outline-primary"
        [class.active]="role === 'company'"
        (click)="setRole('company')"
      >
        Empresa
      </button>
    </div>
  </div>

  <!-- Formulario común -->
  <form (ngSubmit)="register()" *ngIf="role">
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        [(ngModel)]="user.email"
        name="email"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label>Contraseña</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        class="form-control"
        required
      />
    </div>

    <!-- Candidato -->
    <ng-container *ngIf="role === 'candidate'">
      <div class="mb-3">
        <label>Nombre</label>
        <input
          type="text"
          [(ngModel)]="candidateData.name"
          name="name"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Teléfono</label>
        <input
          type="text"
          [(ngModel)]="candidateData.phone"
          name="phone"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Dirección</label>
        <input
          type="text"
          [(ngModel)]="candidateData.address"
          name="address"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Currículum</label>
        <input
          type="text"
          [(ngModel)]="candidateData.resume"
          name="resume"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Habilidades</label>
        <input
          type="text"
          [(ngModel)]="candidateData.skills"
          name="skills"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Experiencia</label>
        <input
          type="text"
          [(ngModel)]="candidateData.experience"
          name="experience"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Fecha de nacimiento</label>
        <input
          type="date"
          [(ngModel)]="candidateData.birthDate"
          name="birthDate"
          class="form-control"
        />
      </div>
    </ng-container>

    <!-- Empresa -->
    <ng-container *ngIf="role === 'company'">
      <div class="mb-3">
        <label>Nombre de empresa</label>
        <input
          type="text"
          [(ngModel)]="companyData.companyName"
          name="companyName"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Descripción</label>
        <input
          type="text"
          [(ngModel)]="companyData.companyDescription"
          name="companyDescription"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Sitio web</label>
        <input
          type="text"
          [(ngModel)]="companyData.website"
          name="website"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Teléfono</label>
        <input
          type="text"
          [(ngModel)]="companyData.phone"
          name="phoneCompany"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label>Dirección</label>
        <input
          type="text"
          [(ngModel)]="companyData.address"
          name="addressCompany"
          class="form-control"
        />
      </div>
    </ng-container>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success">Registrarse</button>
    </div>
  </form>
</div>
